*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: orange;
}

.header-row{
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
}


.link, .logo, .nav{
    min-height: 50px;
    color: white;
    margin: 10px 0;
}

/* link */
.link{
    width: 15%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a{
    color: white;
    text-decoration: none;
}

.link a:hover{
    color: blue;
    text-decoration: underline;
}

/* logo */
.logo{
    width: 15%;
}

.logo img{
    width: 100%;
}

/* nav */
.nav{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav i{
    padding: 0 10px;
}

/* corpo centrale */

.main-row{
    margin-top: 80px;
}

/* prima sezione */
section{
    width: 90%;
    display: flex;
    margin: auto;
}

.img-row{
    width: calc(100%/3 - 20px);
    height: 700px;
    background-color: white;
    position: relative;
    margin: 10px;
}

.after{
    width: 100%;
    display: block;
}

.before{
    width: 100%;
    display: none;
}

.img-row:hover .after{
    display: none;
}

.img-row:hover .before{
    display: block;
}

/* sconto rosso */
.sconto{
    position: absolute;
    bottom: 100px;
    left: 10px;
    background-color: red;
    padding: 0 5px;
    color: white;
}

/* sconto verde */
.sconto-info{
    position: absolute;
    bottom: 100px;
    left: 60px;
    background-color: green;
    padding: 0 5px;
    color: white;
}

.sconto-info2{
    position: absolute;
    bottom: 100px;
    left: 0px;
    background-color: green;
    padding: 0 5px;
    color: white;
}

/* stile sconto */
.price-red{
    color: red;
}

.price-line-through{
    text-decoration: line-through;
}

/* cuore */
.heart{
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 40px;
    padding: 5px 15px;
    background-color: white;
}

.heart:hover{
    color: red;    
}

/* footer */
footer{
    background-color: #1A1A1A;
    margin-top: 30px;
}

.footer-row{
    margin: auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 50px 0;
}

.foot-left, .foot-right{
    width: 40%;
    padding: 5px 10px;
}

/* foot right */
.list{
    display: flex;
    list-style-type: none;
}

.list li{
    margin-right: 20px;
}

/* foot left */
.foot-right{
    text-align: end;
}